<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Coffee', root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', home_main_path %></li>

        <li><%= link_to 'Memo', posts_path %></li>

        <li><%= link_to 'Coffee Info', new_post_path %></li>
        <% if user_signed_in?#로그인을 했으면> %>
            <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></li>
        <% else #로그인 안 했으면 %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>


      </ul>
    </nav>
  </div>
</header>
